@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/global" as *;

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.5rem;

  &__area {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    width: 100%;
  }

  &__textarea {
    height: 3rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    overflow: hidden;
    width: 100%;

    border: 1px solid $Color-darkGray;
    border-radius: 50px;
    background-color: $Color-white;

    &:active,
    &:focus {
      border: 1px solid $Color-darkGray;
    }
  }

  &__button {
    width: 9rem;
    height: 3.6rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    align-self: center;

    background-color: $Color-white;

    &:hover {
      background-color: $Color-black;
      border: 1px solid $Color-white;
      color: $Color-white;
    }
  }
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

p.error {
  margin: 0;
  font-size: 0.75rem;
  color: $Color-red;
  padding-left: 0.5rem;
}
