@use "../../partials/variables" as *;

.bubble {
  display: flex;
  flex-direction: column;
  background-color: $Color-background;

  &__text {
    padding: 8px;
    border-radius: 8px;
    max-width: 200px;
    margin: 8px 16px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 0.2);
  }

  &__customer {
    align-self: flex-end;
    background-color: $Color-darkRed;
    color: $Color-white;
  }

  &__advisor {
    background-color: white;
  }
}
