@font-face {
    font-family: Frutiger;
    src: url(../assets/fonts/Frutiger.ttf);
    font-style: normal;
}

@font-face {
    font-family: Frutiger;
    src: url(../assets/fonts/Frutiger_bold.ttf);
    font-style: bold;
}



