@font-face {
    font-family: Frutiger;
    src: url(../assets/fonts/Frutiger.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Frutiger;
    src: url(../assets/fonts/Frutiger_bold.woff);
    font-style: bold;
    font-weight: normal;
}



