* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Frutiger;
}

body {
    font-family: Frutiger;
}

a {
    text-decoration: none;
}

html {
    font: 16px; //set base font
}