//Global colors
$Color-white: #fff;
$Color-black: #333;
$Color-red: #ec111a;
$Color-darkRed: #a6000e;
$Color-darkGray: #333333;
$Color-bubble: #d3d3d3;
$Color-background: #f8f8f8;

//Media screen breakpoints --//

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;