@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/global' as *;


svg {
  background-color: white;
}

.input {
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 120px;
  margin: 16px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    border: none;
    width: 260px;
    height: 60px;
    text-wrap: wrap;
    align-self: flex-start;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    padding: 0;
    background-color: white;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }
}
